<?xml version="1.0" encoding="utf-8"?>
<config>

  
  <!-- Settings about how the bot connects to IRC.  Since this is an IRC bot you should probably fill this part out-->
  <irc>
    <!-- The IRC host, or server name. e.g. irc.twitch.tv -->
    <host>irc.quakenet.org</host>
    <!-- It's port. If you don't know it, it's probably 6667 -->
    <port>6667</port>
    <!-- The channel you want the bot to join.  This is required. -->
    <channel>#hearthstone2</channel>
    
    
    
    <!-- The nickname yuou want the bot to use-->
    <nick>HearthBot-Test</nick>
    <!-- The real name the bot should have.  This is optional -->
    <name>Hearthstone IRC Bot</name>
    <!-- The username you want the bot to have.  This is optional, and not the same as nickname -->
    <user>HearthBot</user>
    <!-- If the IRC server has a password.  Use the format below for twitch. -->
    <pass>oauth:sometoken</pass>

    <!-- Any raw IRC commands you wish to send on connect.  In the below example, we send a message to Q that says "auth user pass?" -->
    <!-- On twitch you may want to send USERCOLOR -->
    <onconnect>PRIVMSG Q :auth user pass?</onconnect>

    <!-- Time to wait between reconnect attempts (miliseconds).  This number over 2 is the ping frequency.  This is optional -->
    <reconnecttime>300000</reconnecttime>

    <!-- Disabled control codes on twitch (where they are not parsed) or channels with anti-control code modes are set -->
    <!--<nocontrolcodes /> -->


  </irc>

  
  <!-- Some settings to control abuse. Optional -->
  <spam>
    <!-- The maximum length a single card can be, if it is higher the lookup will be ignored -->
    <maxcardnamelength>30</maxcardnamelength>
    <!-- The maximum cards the bot will message in one go, not recommended to put higher than 3. -->
    <maxcardsperline>3</maxcardsperline>

    <!-- The flow limit feature restricts a user to requesting at most MAX cards (or other commands).  The number of cards he has requested gets decreased by 1 every SECONDS 
         For example, with max=3 seconds=5, a user can request 3 cards immediately, then in 5 seconds he can request 1 more or in 15 seconds he can request 3 more.
         To disable this feature just set max to an obscene number -->
   
    <flowrate>
      <max>3</max>
      <seconds>5</seconds>
    </flowrate>
  </spam>

  <!-- I wouldn't even bother turning this on... -->
  <autotrigger>
    <!-- Set to 0 to disable triggering without [ ] -->
    <matchrequirement>0</matchrequirement>
  </autotrigger>

  <!-- Youtube link parsing functionality. Remove or comment out to disable. -->
  <youtube>
    <!-- Use C# data binding format. To see all of the available data take a look at YoutubeSerialization.cs in source -->
    <format>YouTube Video: {items[0].snippet.localized.title} - {items[0].contentDetails.FormattedDuration} - [{items[0].contentDetails.definition}] {items[0].statistics.viewCount} views (&#0003;03{items[0].statistics.likeCount}&#0003; &#0003;04{items[0].statistics.dislikeCount}&#0003;)</format>
    
  </youtube>
  
  <language>
    <!--<default>esES</default>-->
    <default>enUS</default>
    <!--<default>deDE</default>-->
    <!--<default>esMX</default>-->
    <!--<default>koKR</default>-->
    <!--<default>ptPT</default>-->
    <!--<default>enGB</default>-->
    <!--<default>zhTW</default>-->
    <!--<default>frFR</default>-->
    <!--<default>ruRU</default>-->
    <!--<default>ptBR</default>-->
    <!--<default>itIT</default>-->
    <!--<default>plPL</default>-->
  </language>

</config>