<?xml version="1.0" encoding="iso-8859-1"?>
<config>

  <cards>
    <datadir>carddata</datadir>
    <!-- The maximum length a single card can be, if it is higher the lookup will be ignored -->
    <maxcardnamelength>30</maxcardnamelength>
    <!-- The maximum cards the bot will message in one go, not recommended to put higher than 3. -->
    <maxcardsperline>3</maxcardsperline>

  </cards>

  <irc>
    <host>83.140.172.210</host>
    <!-- Not used yet...-->
    <port>6667</port>


    <nick>HearthBot2</nick>
    <name>Hearthstone IRC Bot</name>
    <user>HearthBot2</user>
    <channel>#hearthstone2</channel>
    
    <!-- Time to wait between reconnect attempts -->
    <reconnecttime>300000</reconnecttime>

    <onconnect>PRIVMSG Q :auth user pass?</onconnect>
  </irc>

</config>